*{
    margin: 0;
    padding: 0;
}

:root{
    --color-primary: #F5D38E;
    --color-secundary : #FFFFFF;
    --color-background: #093931;
}

body{
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Manrope', sans-serif;
}

/*Navbar*/

header {
    position: fixed; 
    width: 100%;
    background-color: var(--color-background);
    padding: 10px 0;
    z-index: 1000; 
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand {
    font-family: 'Cormorant Garamond', serif;
    color: var(--color-primary);
    font-size: 30px;
    font-weight: 400;
    margin-left: 132px;
    margin-right: 582px;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: var(--color-primary);
    margin: 6px 0;
    transition: 0.4s;
}

.nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-right: 95px;
}

.nav-list li {
    margin-right: 37.26px;
}

.nav-list a {
    font-size: 14px;
    text-decoration: none;
    color: var(--color-secundary);
}

.nav-list a:hover {
    color: var(--color-primary);
    font-weight: bold;
    border-bottom: 3px solid var(--color-primary);
}

/*Responsive Navbar*/
@media screen and (max-width: 768px) {

.brand{
    margin-left: 48px;
}
.menu-toggle {
    display: block;
    position: absolute;
    top: 10px; 
    right: 10px; 
    z-index: 1001; 
    margin-right: 48px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.nav-list {
    display: none;
    flex-direction: column;
    position: absolute;
    margin: 0;
    margin-top: 25px;
    right: 0;
    width: 100%;
    background-color: var(--color-background);
    z-index: 1000;
    text-align: center; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    animation: slideIn 0.5s ease-in-out; 
}

.menu-toggle.open {
    transform: rotate(90deg); /*animación acciónar*/
}

.menu-toggle.open + .nav-list {
    display: flex;
}

.nav-list li {
    margin-right: 0;
    margin-bottom: 10px;
}
}

/*slide animation*/

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/*Landpage*/


#land-page {
    height: 100vh;
    background-color: var(--color-background);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-image: url(/assets/olas_\ blancas.png);
    background-repeat: no-repeat;
    background-size: 1440px 930px;
}

h1 {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 400;
    font-size: 72px;
    color: var(--color-primary);
    white-space: pre-line; /* Conserva los espacios y las líneas */
}


.content-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 132px;

}

.mainBtn {
    display: inline-flex;
    padding: 12px 59px;
    justify-content: center;
    align-items: center;
    border-radius: 26px;
    border: 1px solid #FFF;
    background: rgba(0, 0, 0, 0.00);
    color: #FFF;
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;/* 155.556% */
    margin-top: 24px; 
}

.content-container:nth-child(2) {
    position: relative;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 72px;
    margin-right: 148px;
}

#Big-home-img {
    width: 100%; 
    z-index: 1;
}

#Small-home-img {
    position: absolute;
    margin-top: 111px; 
    margin-left: 310px;
    margin-right: 148px;
    z-index: 2;
}

#play-icon {
    position: absolute;
    margin-top: 254px;
    margin-left: 430px;
    z-index: 2;
}

/*Responsive Lanpage*/

@media screen and (max-width: 768px) {
.content-container {
    margin-top: 40px;
    margin-left: 48px;
    margin-right: 0;
}

h1 {
    font-size: 42px;
}

.mainBtn{
    padding: 8px 39px;
    font-size: 16px;
}

.content-container:nth-child(2) {
    margin-left: 18px;
    margin-right: 48px;
}

#Big-home-img {
    width: 200px; 
}

#Small-home-img {
    width: 100px;
    height: 130px;
    margin-top: 76px; 
    margin-left: 128px;
    margin-right: 14px;
}

#play-icon {
    width: 21px;
    height: 21px;
    margin-top: 124px;
    margin-left: 168px;
}

}

/*about us*/

#services {
    margin-top: 24px;
    background-color: var(--color-secundary);
    display: flex;
    align-items: center;
}

.services-container {
    margin-top: 36px ;
    display: flex;
    flex-direction: row; 
    align-items: center;
    text-align: center;
}

.delivery{
    margin-left: 180px;
    margin-right: 127px;
}


.payment-security{
    margin-left: 127px;
    margin-right: 178px;
}

.services-container h3{
    color: #171A1F;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;  
    margin-top: 18px;
}

.services-container p{
    color: #9095A0;
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */    
}

/*Responsive Services*/

@media only screen and (max-width: 768px) {
#services {
    flex-direction: column; 
}

.services-container {
    flex-direction: column; 
    align-items: flex-start; 
    margin-top: 24px; 
    margin-left: 48px;
    margin-right: 48px;
}

.delivery,
.customer-care,
.payment-security {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 24px;
}
}

/*Featured Products*/

#featured-products{
    margin-top: 60px;
    margin-bottom: 48px;
    display: flex;
}

.featured-container{
    display: flex;
    flex-direction: column;
    margin-left: 129px;
    margin-right: 48px;
}



.featuredBtn{
    display: inline-flex;
    padding: 12px 59px;
    justify-content: center;
    align-items: center;
    border-radius: 26px;
    border: 1px solid #0D554A;
    background: rgba(0, 0, 0, 0.00);
    color: #0D554A;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    margin-right: 54px ;

}

.featured-container h2{
    margin-top: 54px;
    color: #0D554A;
    font-family: 'Cormorant Garamond', serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px; /* 140% */
    white-space: pre-line;
    margin-bottom: 12px;
}

.featured-container p{
    color: #9095A0;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    white-space: pre-line;
    margin-bottom: 24px;
}

.gallery{
    margin-top: 48px;
}

/*Responsive Featured Products*/
@media only screen and (max-width: 768px) {
#featured-products {
    flex-direction: column; 
}
.featured-container{
    margin-left: 48px;
    margin-right: 48px;
}

.featured-container h2{
    text-align: center;
}
.featured-container p{
    text-align: center;
}
.featuredBtn {
    padding: 15px 2px;
    font-size: 16px;
    margin-left: 48px;
    margin-right: 48px;

}
.gallery {
    margin-top: 20px;
    margin-left: 48px;
    margin-right: 48px;
    text-align: center;
    }

.ft4{
    display: none;
}
}


/*Our collections*/

#our-collections{
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 132px;
    margin-right: 127px
}



.collections-cotainer h2{
    margin-top: 48px;
    margin-bottom: 46px;
    color: #0D554A;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px; /* 140% */
    text-decoration: none; 
}

.collections img{
    width: 338px;
    height: 338px;
    flex-shrink: 0;
}

#coll2{
    margin-bottom: 40px;
    margin-left: 48px;
    margin-right: 51px;
}

#coll5{
    margin-bottom: 40px;
    margin-left: 48px;
    margin-right: 53px;
}

.collectionBtn{
    display: inline-flex;
    padding: 12px 59px;
    border-radius: 26px;
    border: 1px solid #0D554A;
    background: rgba(0, 0, 0, 0.00);
    color: #0D554A;
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    margin-top: 36px;
    margin-bottom: 84px;
}

/*Responsive Our Collection*/

@media (max-width: 768px) {
#our-collections {
    flex-direction: column;
    margin-left: 48px;
    margin-right: 48px;
    }
    .collections img {
    margin-bottom: 24px
    }
}


/*Our Selection of Jewerly */

#jewerly-products{
    margin-top: 24px;
    display: flex;
    background: #FAFAFB;
    border-bottom: 48px solid #FAFAFB;
}

.jewerly-container{
    display: flex;
    flex-direction: column;
    margin-left: 129px;
    margin-right: 48px;
}



.jewerlyBtn{
    display: inline-flex;
    padding: 12px 59px;
    justify-content: center;
    align-items: center;
    border-radius: 26px;
    border: 1px solid var(--color-background);
    background: rgba(0, 0, 0, 0.00);
    color: #0D554A;
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
}

.jewerly-container h2{
    margin-top: 54px;
    color: #0D554A;
    font-family: 'Cormorant Garamond', serif;;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px; /* 140% */
    margin-bottom: 12px;
    white-space: pre-line;
}

.jewerly-container p{
    color: #9095A0;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    white-space: pre-line;
    margin-bottom: 24px;
}

.gallery{
    margin-top: 48px;
}

.gallery img{
    margin: 5.1px;
}

/*Responsive Our Selection of Jewerly*/
@media only screen and (max-width: 768px) {
#jewerly-products {
    flex-direction: column; 
}
.jewerly-container{
    margin-left: 48px;
    margin-right: 48px;
}
    
.jewerly-container h2{
    text-align: center;
}
.jewerly-container p{
    text-align: center;
}
.jw4{
    display: none;
}
}

/*Our Story*/

#our-story{
    background: #FAFAFB;
    border-top: 48px solid #FAFAFB;
    border-bottom: 72px solid #FAFAFB;
}
.story-container{
    text-align: center;
}

.story-container h2{
    color: #0D554A;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px; /* 140% */
    margin-bottom: 20px;
}

#story-img{
    position: absolute;
    z-index: 2;
}

#play-icon2{
    position: relative;
    z-index: 2;
    margin: 168.5px 572.5px;
}

/*Responsive Our Story*/
@media only screen and (max-width: 768px) {

.story-container {
    margin-left: 48px;
    margin-right: 48px;
}

.story-container h2 {
    margin-bottom: 32px;
}

#story-img {
    z-index: 2;
    width: 388px;
    height: 160px;
}

#play-icon2 {
    width: 28px;
    height: 28px;
    z-index: 2;
    margin-top: 64px;
    margin-left: 176px;
}
}



/*From the people*/


#from-the-people{
    display: flex;
    background: #093931;
}

.people-container{
    display: flex;
    flex-direction: column;
    margin-left: 132px;
    margin-right: 169px;
}

.people-container h2{
    color: #FFF;
    font-family: 'Cormorant Garamond', serif;;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 68px; /* 141.667% */
    margin-top: 169px;
    margin-bottom: 12PX;
    white-space: nowrap;
}

.people-container p{
    color: #FFF;
    font-family: 'Manrope', sans-serif;;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    white-space: pre-line;
}

.people-container2{
    background: #171A1F4D;
    display: flex;
    flex-direction: row;
    margin-right: 132px;
    margin-top: 72px;
    border-radius: 8px;
    margin-bottom: 71px;
}

.texto{
    margin-left: 36px;
    margin-right: 36px;
}

.texto p{
    color: #FFF;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-style:normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin-top: 60px;
}

.texto h3{
    color: #FFF;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 150% */
    margin-top: 18px;
}

.texto h4{
    color: #FFF;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin-bottom: 59px;
}

.play1{
    width: 52px;
    height: 52px;
    position: absolute;
    z-index: 0;
    margin-top: 349px;
    margin-left: 538px;
    margin-right: 248px;
}

.play2{
    width: 52px;
    height: 52px;
    position: absolute;
    z-index: 0;
    margin-top: 349px;
    margin-left: 608px;
}

/*Responsive From The People */
@media screen and (max-width: 768px) {
#from-the-people {
    flex-direction: column;
}

.people-container{
    margin-left: 48px;
    margin-right: 48px;
    text-align: center;
}

.people-container h2 {
    margin-top: 48px;
    margin-bottom: 24px;
}

.people-container2 p{
    margin-top: 20px;
    font-size: 14px;
}

.people-container2{
    margin-left: 48px;
    margin-right: 48px;
}

.texto h4{
    margin-bottom: 0px;
}

.ana-img {
    width: 160px;
    height: 480px;
}

.play1,
.play2 {
    width: 31px;
    height: 31px;
    margin-top: 460px;

}

.play1{
margin-left: 270px;
}

.play2{
    margin-left: 320px;
}
}

/*Footer*/

footer{
    background-color: #093931;
}

.footer-container{
    display: flex;
    align-items: flex-start;
}

.column1 {
    margin-left: 132px;
    margin-top: 48px;
}



.column1 h2{
    color:#F5D38E;
    font-family: Cormorant Garamond;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 46px; /* 153.333% */
    margin-bottom: 93px;
}

.column1 p{
    color: #FFF;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; 
    white-space: nowrap;/* 157.143% */
}

.column2 {
    margin-left: 206px;
    margin-top: 48px;
}

.column2 h4{
    color: #FFF;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 12px; /* 157.143% */
}

.column3 {
    margin-top: 48px;
    margin-left: 94px;
    margin-right: 269px;
}

.column3 h4{
    color: #FFF;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 12px; /* 157.143% */
}

.column4{
    margin-top: 44px;
    margin-right: 132px;
    flex-direction: row;
}

.column4 h3{
    color: #FFF;
    font-family: Cormorant Garamond;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
}

.column4 h5{
    color: #FAFAFB;
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
    margin-bottom: 16px;
}

.input-container {
    display: flex;
    align-items: center; 
}

.column4 input {
    display: inline-flex;
    padding: 10px 132px 9px 38px;
    align-items: center;
    gap: 6px;
    border-radius: 18px 0px 0px 18px;
    border: 1px solid #FFF;
    background: rgba(0, 0, 0, 0.00);
}

.column4 input::placeholder{
    color: #FFF;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
}

.email-icon {
    width: 16px;
    height: 16px;
    margin-left: 20px;
    position: absolute;
}


.column4 button{
    padding: 7px 23.5px 7px 24.5px;
    justify-content: center;
    align-items: center;
    border-radius: 0px 18px 18px 0px;
    background: #F2C66D;
    position: absolute;
    margin-left: 242px;
    color: #6B4A09;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
    outline: none;
    border: none;
    margin-left: 272px;
}

.logos {
    display: flex;
    margin-top: 36px;
    margin-left: 240px;
}

.logos img{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.logotw, .logofb , .logoin{
    margin-right: 16px;
}

/* Responsive footer*/

@media (max-width: 768px) {
.footer-container {
    flex-direction: column;
    text-align: center;
    margin-left: 48px;
    margin-right: 48px;
}
.column1 h2{
    margin-bottom: 32px;
    text-align: center;
    font-size: 42px;
}

.column2,
.column3 {
    text-align: center;
    display: flex;
    margin: 0;
    margin-top: 32px;
    margin-left: 96px;
}

.column2 h4, .column3 h4{
    margin-right: 20px;
}

.input-container{
    margin-top: 32px;
}

.logos {
    margin-left: 62px;
    margin-top: 32px;
    margin-bottom: 48px; 
}

.logotw, .logofb , .logoin{
    margin-right: 48px;
}
}
