*{
    margin: 0;
    padding: 0;
}

:root{
    --color-primary: #F5D38E;
    --color-secundary : #FFFFFF;
    --color-background: #093931;
}

body{
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Manrope', sans-serif;
}

/*Navbar*/

header {
    position: fixed; 
    width: 100%;
    background-color: var(--color-background);
    padding: 10px 0;
    z-index: 1000; 
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px; 
    margin: 0 132px 0 132px ;
}

.brand {
    font-family: 'Cormorant Garamond', serif;
    color: var(--color-primary);
    font-size: 30px;
    font-weight: 400;
}

.menu{
    margin-left: 582px;
}
.menu ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu li {
    margin-right: 24px;
}

.menu a {
    font-size: 14px;
    text-decoration: none;
    color: var(--color-secundary);
}



.menu a:hover {
    color: var(--color-primary); 
    font-weight: bold;
}

/*Landpage*/


#land-page {
    height: 100vh;
    background-color: var(--color-background);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

h1 {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 400;
    font-size: 72px;
    color: var(--color-primary);
    white-space: pre-line; /* Conserva los espacios y las líneas */
}


.content-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 132px;

}

.mainBtn {
    display: inline-flex;
    padding: 12px 59px;
    justify-content: center;
    align-items: center;
    border-radius: 26px;
    border: 1px solid #FFF;
    background: rgba(0, 0, 0, 0.00);
    color: #FFF;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;/* 155.556% */
    margin-top: 24px; 
}

.content-container:nth-child(2) {
    position: relative;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 72px;
    margin-right: 148px;
}

#Big-home-img {
    width: 100%; 
    z-index: 1;
}

#Small-home-img {
    position: absolute;
    top: 111px; 
    left: 310px;
    right: 148px;
    z-index: 2;
}

#play-icon {
    position: absolute;
    top: 254px;
    left: 430px;
    z-index: 2;
}

/*about us*/

#services {
    margin-top: 24px;
    background-color: var(--color-secundary);
    display: flex;
    align-items: center;
}

.services-container {
    margin-top: 36px ;
    display: flex;
    flex-direction: row; 
    align-items: center;
    text-align: center;
}

.delivery{
    width: 276px;
    margin-left: 180px;
    margin-right: 127px;
}

.customer-care{
    width: 276px;

}

.payment-security{
    margin-left: 127px;
    margin-right: 178px;
    width: 276px;
}

.services-container h3{
    color: #171A1F;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;  
    margin-top: 18px;
}

.services-container p{
    color: #9095A0;
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */    
}

/*Featured Products*/

#featured-products{
    margin-top: 60px;
    margin-bottom: 48px;
    display: flex;
}

.featured-container{
    display: flex;
    flex-direction: column;
    margin-left: 129px;
    margin-right: 48px;
}



.featuredBtn{
    display: inline-flex;
    padding: 12px 59px;
    justify-content: center;
    align-items: center;
    border-radius: 26px;
    border: 1px solid var(--color-background);
    background: rgba(0, 0, 0, 0.00);
    color: #0D554A;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    margin-right: 54px ;

}

.featured-container h2{
    margin-top: 54px;
    color: #0D554A;
    font-family: Cormorant Garamond;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px; /* 140% */
    white-space: pre-line;
    margin-bottom: 12px;
}

.featured-container p{
    color: #9095A0;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    white-space: pre-line;
    margin-bottom: 24px;
}

.gallery{
    margin-top: 48px;
}

.galler img{
    margin: 24px;
}

/*Our collections*/

#our-collections{
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 132px;
    margin-right: 127px
}



.collections-cotainer h2{
    margin-top: 48px;
    margin-bottom: 46px;
    color: #0D554A;
    text-align: center;
    font-family: Cormorant Garamond;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px; /* 140% */
    text-decoration: none; 
}

.collections img{
    width: 338px;
    height: 338px;
    flex-shrink: 0;
}

#coll2{
    margin-bottom: 40px;
    margin-left: 48px;
    margin-right: 51px;
}

#coll5{
    margin-bottom: 40px;
    margin-left: 48px;
    margin-right: 53px;
}

.collectionBtn{
    display: inline-flex;
    padding: 12px 59px;
    border-radius: 26px;
    border: 1px solid #0D554A;
    background: rgba(0, 0, 0, 0.00);
    color: #0D554A;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-top: 36px; /* 155.556% */
}